# **Data Types and Structures Questions**

 1.What are data structures, and why are they important.
   - Data structures are specialized formats for organizing, processing, and storing data efficiently. They are important because they help manage large amounts of data efficiently and enable optimized access,insertion, deletion, and searching operations.

2.Explain the difference between mutable and immutable data types with examples.
  - Mutable data types can be changed after creation, like lists and dictionaries. Immutable data types cannot be changed once created, like strings and tuples.
Example:
- **List (mutable**):
 a = [1, 2];
 a[0] = 5
- **Tuple (immutable)**:
 t = (1, 2);
 t[0] = 5 will raise an error.

 3.What are the main differences between lists and tuples in Python.
   - Lists are mutable, can be modified, and have more built-in methods.
   Tuples are immutable, generally faster, and used when data should not change.

4.Describe how dictionaries store data .
  - Dictionaries store data as key-value pairs. Each key is unique, and values are accessed using these keys.
Internally, Python uses a hash table to map keys to values.

5.Why might you use a set instead of a list in Python.
  - Sets are used when you need to store unique items and perform operations like unions, intersections, or checking membership quickly. They automatically eliminate duplicates

6.What is a string in Python, and how is it different from a list.
  - A string is an immutable sequence of characters. A list is a mutable sequence that can contain any data type. You can't change characters in a string directly, but you can in a list.

7.How do tuples ensure data integrity in Python.
  - Tuples are immutable, meaning their contents cannot be changed. This immutability ensures that data remains consistent and unchanged, which is important in many cases like dictionary keys.

8.What is a hash table, and how does it relate to dictionaries in Python.
  - A hash table is a data structure that maps keys to values using a hash function. In Python, dictionaries use hash tables to enable fast data access using keys.

9.Can lists contain different data types in Python.
  - Yes, Python lists are heterogeneous, meaning they can store elements of different data types like integers, strings, and even other lists.

10.Explain why strings are immutable in Python.
  - Strings are immutable for memory efficiency and performance. It also helps in avoiding unexpected bugs and makes strings hashable, allowing them to be used as dictionary keys.

11.What advantages do dictionaries offer over lists for certain tasks.
  - Dictionaries provide faster lookup for values using keys (O(1) average time) and are better for when you need to associate values with unique identifiers.

12.How do sets handle duplicate values in Python.
  - Sets automatically remove duplicate values. If you add the same value multiple times, only one instance is stored.

 13.Describe a scenario where using a tuple would be preferable over a list.
   - Tuples are preferable when data should not change, like representing fixed coordinates (x, y) or as keys in dictionaries because they are hashable.

14.How does the “in” keyword work differently for lists and dictionaries.
  - 'in' checks for presence of a value in a list, but checks for a key (not value) in a dictionary.

15.Can you modify the elements of a tuple? Explain why or why not.
  - No, tuples are immutable. Once created, you cannot change, add, or remove elements from a tuple

16.What is a nested dictionary, and give an example of its use case .
  - A nested dictionary is a dictionary where values are also dictionaries.

Example:
data = {'emp1': {'name': 'John', 'age': 30}}

 17.Describe the time complexity of accessing elements in a dictionary.
  - Accessing elements in a dictionary has average-case time complexity of O(1), due to the underlying hash table.

18.In what situations are lists preferred over dictionaries .
   - : Lists are preferred when the order of items matters, or when you only need to store items without needing unique identifiers (keys)

19.Why are dictionaries considered unordered, and how does that affect data retrieval .
   - Historically, dictionaries were unordered. In modern Python (3.7+), they preserve insertion order, but keys are still accessed by name, not position.

20.Explain the difference between a list and a dictionary in terms of data retrieval.
  - In a list, elements are accessed by index.
  
   (e.g., list[0]),
   
   While in a dictionary, elements are accessed by key.
   
   (e.g., dict['name']).

# *** Practical Questionstext***

1. Write a code to create a string with your name and print it.

In [5]:
name = "Md Shahnawaz"
print(name)
type(name)

Md Shahnawaz

str

2. Write a code to find the length of the string "Hello World"

In [6]:
len("Hello World")

11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [7]:
s = "Python Programming"
print(s[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase

In [8]:
s = "hello"
print(s.upper())

HELLO

5.Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [9]:
s = "I like apple"
print(s.replace("apple", "orange"))

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it

In [10]:
lst = [1, 2, 3, 4, 5]
print(lst)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [11]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [12]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [13]:
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [14]:
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [15]:
tup = (100, 200, 300)
print(tup)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [16]:
tup = ('red', 'green', 'blue', 'yellow')
print(tup[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [17]:
tup = (10, 20, 5, 15)
print(min(tup))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [18]:
tup = ('dog', 'cat', 'rabbit')
print(tup.index("cat"))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [19]:
tup = ("apple", "banana", "cherry")
print("kiwi" in tup)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [20]:
s = {'a', 'b', 'c'}
print(s)

{'a', 'b', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [21]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [22]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [23]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1.union(s2))

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [24]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(s1.intersection(s2))

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [25]:
d = {"name": "John", "age": 25, "city": "New York"}
print(d)

{'name': 'John', 'age': 25, 'city': 'New York'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
 result.(replaced)

In [31]:
d = {'name': 'John', 'age': 25}
d['country'] = 'USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [32]:
d = {'name': 'Alice', 'age': 30}
print(d['name'])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [33]:
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop('age')
print(d)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [34]:
d = {'name': 'Alice', 'city': 'Paris'}
print('city' in d)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [30]:
lst = [1, 2, 3]
tup = (4, 5, 6)
d = {"a": 1, "b": 2}
print(lst, tup, d)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the

In [29]:
import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

[8, 32, 34, 49, 84]

28. Write a code to create a list with strings and print the element at the third index.

In [28]:
lst = ["apple", "banana", "cherry", "date", "fig"]
print(lst[3])

date

29. Write a code to combine two dictionaries into one and print the result.

In [27]:
d1 = {"a": 1}
d2 = {"b": 2}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2}

30. Write a code to convert a list of strings into a set.

In [26]:
lst = ["apple", "banana", "apple"]
print(set(lst))

{'apple', 'banana'}